<div class="dashboard-admin" id="dashboard-admin">
      
      	{{>sidebar-dashboard}}
      
      <section class="container-dashboard active-cont">
        
        {{>breakcrumb-dashboard}}
        

        <div class="content-container-dashboard">
          {{>dashboard-art-add}}
        </div>
      </section>
    </div>