<div
  class='col-12 col-md-4 col-lg-3 col-xl-2'
  data-aos='fade-up'
  data-aos-duration='1500'
>
  <div class='card-bids'>
    <div class='d-flex justify-content-between card-bids-superior dropstart'>
      <div class='bidsImage-group'>
        <!-- <a class="bidsImage" href="./profile-view.html">
                      <img
                        src="./imgs/dwayne.png"
                        class="rounded-circle img"
                        alt="dwayne"
                      />
                      <img src="./imgs/check.svg" class="checkImage" alt="" />
                    </a>
                    <a class="bidsImage" href="./profile-view.html">
                      <img
                        src="./imgs/dwayne.png"
                        class="rounded-circle img"
                        alt="dwayne"
                      />
                      <img src="./imgs/check.svg" class="checkImage" alt="" />
                    </a>
                    <a class="bidsImage" href="./profile-view.html">
                      <img
                        src="./imgs/dwayne.png"
                        class="rounded-circle img"
                        alt="dwayne"
                      />
                      <img src="./imgs/check.svg" class="checkImage" alt="" />
                    </a> -->
      </div>
      <div
        class='text-gris'
        id='dropdownMenuButton1'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >
        <i class='fas fa-ellipsis-h'></i>
      </div>
      <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
        <li>
          <a
            class='dropdown-item font-titulo font-15px font-weight-bold text-uppercase'
            href='./detalle.html'
          >
            place a bid
          </a>
        </li>
      </ul>
    </div>

    <a href='./detalle.html' class='card-bids-image position-relative d-block'>
      <div class='card-bid-background'></div>
      <img src='./imgs/bids.png' alt='' />
      <span>
        NEW
      </span>
    </a>

    <div class='d-flex justify-content-between card-bids-inferior'>
      <div class='text-uppercase texto'>
        <span>
          El trofeo
        </span>
        <span>
          actual bid: 32 eth
        </span>
        <span class='text-gris'>
          by: Alex suarez
        </span>
        <div class='bidsImage-group before-author'>
          <a class='bidsImage' href='./profile-view.html'>
            <img
              src='./imgs/dwayne.png'
              class='rounded-circle img'
              alt='dwayne'
            />
            <img src='./imgs/check.svg' class='checkImage' alt='' />
          </a>
        </div>
      </div>
      <div class='text-gris icono'>
        <i class='fas fa-heart'></i>
        <span>
          14
        </span>
      </div>
    </div>
  </div>
</div>