<div class="nav-breakcrumb px-4 w-100 d-flex justify-content-between align-items-center">
          <div class="">
              <button type="button" class="btn button-menu menu-btn-toggle" id="menu-btn">
                  <i class="fas fa-bars"></i>
              </button>
          </div>
          <div>
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Slipstream </a></li>
                      <li class="breadcrumb-item active" aria-current="page">artist</li>
                  </ol>
              </nav>
          </div>
      </div>