<div class='edit-artist'>
  <div class='edit-artist-img'>
    <img src='/imgs/user-circle.svg' class='' alt='' />
    
  </div>
  <div class='edit-artist-info'>
    <div class='d-flex info-column'>
      <label for='staticname' class='col-form-label p-0'>
        Name:
      </label>
      <input
        type='text'
        class='form-control-plaintext p-0  text-uppercase'
        id='staticname'
        value='patrcio'
      />
    </div>
    <div class='d-flex info-column'>
      <label for='staticname' class='col-form-label p-0'>
        last name:
      </label>
      <input
        type='text'
        class='form-control-plaintext p-0  text-uppercase'
        id='staticname'
        value='oward'
      />
    </div>
    <div class='d-flex info-column'>
      <label for='staticname' class='col-form-label p-0'>
        username:
      </label>
      <input
        type='text'
        class='form-control-plaintext p-0  text-uppercase'
        id='staticname'
        value='@PATOOWARD'
      />
    </div>
  </div>
  <div class='edit-artist-icon'>
    <i class='fas fa-edit'></i>
  </div>
</div>

<div class='w-400px'>
  <h2 class='font-titulo font-wight-bold font-16px text-uppercase mt-5'>
    description
  </h2>

  <textarea class='form-control-plaintext reformated-textarea'>
    2 TIMES F4 CHAMPION, BEST CASSIFIED PILOT DURING INDY SOO PRE RACES...
  </textarea>
  <div class='text-end'>
    <a href='/dashboard-artist.html' class='btn btn-artist-add px-4 mt-3'>
      save
    </a>
  </div>
</div>