
      
      <footer class="footer py-5">
        <div class="container text-white font-texto">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 text-center mt-3">
              <h2 class="mb-4 font-titulo titulo text-uppercase">
                NFT Motor Sport
              </h2>
              <p class="text-uppercase mb-3 font-13px">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                velit reiciendis necessitatibus saepe soluta ullam dicta? Quas
                sunt hic maiores deserunt ipsa aspernatur, atque perferendis
                iusto ipsam repudiandae, sint dolor!
              </p>
              <p class="iconos display-6">
                <a href="" class="text-white text-decoration-none">
                  <i class="fab fa-facebook-square"></i
                ></a>
                <a href="" class="text-white text-decoration-none">
                  <i class="fab fa-instagram-square"></i
                ></a>
                <a href="" class="text-white text-decoration-none">
                  <i class="fab fa-linkedin"></i
                ></a>
              </p>
            </div>
            <div
              class="col-12 col-md-6 col-lg-3 mt-3 text-center text-lg-start"
            >
              <h2 class="mb-4 font-titulo titulo text-uppercase">
                marketplace
              </h2>
              <a
                href="#"
                class="d-block text-decoration-none text-white mb-2 text-uppercase font-13px"
                >Browse and Discover</a
              >
              <a
                href="#"
                class="d-block text-decoration-none text-white mb-2 text-uppercase font-13px"
                >Ranking</a
              >
              <a
                href="#"
                class="d-block text-decoration-none text-white mb-2 text-uppercase font-13px"
                >Recently Sold</a
              >
              <a
                href="#"
                class="d-block text-decoration-none text-white mb-2 text-uppercase font-13px"
                >Biggest Sales</a
              >
              <a
                href="#"
                class="d-block text-decoration-none text-white mb-2 text-uppercase font-13px"
                >Most Viewed</a
              >
            </div>
            <div
              class="col-12 col-md-6 col-lg-3 mt-3 text-center text-lg-start"
            >
              <h2 class="mb-4 font-titulo titulo text-uppercase">my account</h2>
              <a
                href="#"
                class="d-block text-decoration-none text-white mb-2 text-uppercase font-13px"
                >My items</a
              >
              <a
                href="#"
                class="d-block text-decoration-none text-white mb-2 text-uppercase font-13px"
                >My activity</a
              >
              <a
                href="#"
                class="d-block text-decoration-none text-white mb-2 text-uppercase font-13px"
                >My offers</a
              >
              <a
                href="#"
                class="d-block text-decoration-none text-white mb-2 text-uppercase font-13px"
                >My referrals</a
              >
              <a
                href="#"
                class="d-block text-decoration-none text-decoration-none text-white mb-2 text-uppercase font-13px"
                >Gift items</a
              >
            </div>
          </div>
        </div>
      </footer>
      <section
        class="py-3 font-texto text-white text-center"
        style="background-color: #191919"
      >
        <p class="mb-0 font-13px">COPYRIGHT © 2021</p>
      </section>