<!-- Modal LOGIN -->
      <div
        class="modal fade"
        id="LoginPopup"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="LoginPopupLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body position-relative modal-nft">
              <p class="mb-0 text-end">
                <button
                  class="btn btn-closed p-0 m-0"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  type="button"
                >
                  <i class="fas fa-window-close"></i>
                </button>
              </p>
              <div class="px-md-5 px-2">
                <h2 class="modal-nft-title text-center m-0">Login</h2>
                <h3 class="text-center display-1 my-2">
                  <i class="fas fa-user-circle"></i>
                </h3>
                <h2 class="modal-nft-title text-center mb-4">
                  <img src="./imgs/logo.jpeg" alt="" width="200" height="50" />
                </h2>
                <div class="botones">
                  <a
                    href="./dashboard/work"
                    class="w-100 btn rojo font-bold-family25 btn-sesiones text-center"
                  >
                    <i class="fab fa-google-plus-g me-2"></i>
                    login with google
                  </a>
                  <a
                    href="./login.html"
                    class="w-100 btn azul-obscuro font-bold-family25 btn-sesiones text-center"
                  >
                    <i class="fas fa-envelope me-2"></i>
                    login with email
                  </a>
                </div>
                <p
                  data-bs-target="#RegisterPopup"
                  data-bs-toggle="modal"
                  data-bs-dismiss="modal"
                  class="d-block cursor-pointer mb-4 text-decoration-none text-end line-h-1 font-titulo font-15px font-weight-bold obscuro text-uppercase"
                >
                  already have an
                  <span class="d-block">account</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal LOGIN -->