<nav class="navbar  navbar-dashboard navbar-expand d-flex flex-column align-item-start active-nav" id="sidebar">
        <div class="btn-toggle-peque">
            <i class="menu-btn-toggle fas fa-times"></i>
        </div>
        <a href="#" class="navbar-brand text-light ">
            <div class="sidebar-titles">
                <h2><img src="/imgs/logo-obscuro.png" alt="" width="200" height="50" /></h2>
                <h3>admin panel</h3>
            </div>
        </a>
        <div class="navbar-user-connect">
            <h2 class="d-flex align-items-center justify-content-center">
                <i class="fas fa-user-circle"></i>
                <span>pedrohernandez227</span>
            </h2>
        </div>
        <ul class="navbar-nav d-flex flex-column mt-5 w-100">
            <li class="nav-item w-100">
                <a href="/dashboard.html" class="nav-link text-center  py-3 nav-link-dashboard text-light text-uppercase">
                    <img src="/imgs/artist.svg" alt="" class="me-2">
                    artist
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="/dashboard/work" class="nav-link active text-center py-3 nav-link-dashboard text-light text-uppercase">
                    <img src="/imgs/works.svg" alt="" class="me-2">
                    works
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="/dashboard-sales.html" class="nav-link text-center py-3 nav-link-dashboard text-light text-uppercase">
                    <img src="/imgs/carrito.svg" alt="" class="me-2">
                    sales
                </a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex flex-column mt-5  w-100">
            <li class="nav-item w-100">
                <a href="/" class="nav-link pe-4 text-center py-3 nav-link-dashboard text-light text-uppercase">
                    <img src="/imgs/logout.svg" alt="" class="me-2">
                    log out
                </a>
            </li>
        </ul>
    
    </nav>